name: Deploy WASM to GitHub Pages

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install wasm-pack
        run: |
          curl https://drager.github.io/wasm-pack/installer/init.sh -sSf | bash

      - name: Build WASM
        run: wasm-pack build --target web

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install npm dependencies and build
        run: |
          cp ../wasm/* .
          npm install
          npm run build
        working-directory: ./pkg

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./pkg/dist
          keep_files: false
